<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>News Lite</title>
</head>
<body>
    <header>
        <h4><a href="/" id="home">Lite News PH </a><span> <%= Date %></span></h4>
    </header>
    <main>
        <p>Article not found</p>
    </main>

    <footer>

    </footer>
</body>
</html>