body, html {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

header {
    border-bottom: 1px solid lightslategray;
}

header #home {
    text-decoration: none;
}

header h4 {
    margin-inline: 20px;
}

header h4 span {
    font-weight: normal;
}

main {
    padding-inline: 20px;
}

main ul li{
    padding: 5px;
}

main p {
    line-height: 150%;
    word-wrap: break-word;
}